{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}

{% block title %}Central Asian Medical University
{% endblock %} 
{% block link %} {% endblock %} 
{% block content %}
<body>
    <div class="page-loader">
        <div class="page-loader-body"><span class="cssload-loader"><span class="cssload-loader-inner"></span></span></div>
    </div><!-- Page-->
    <div class="page text-center">
        <!-- Page Content-->
        <section class="section novi-background bg-cover section-cover section-404 section-30 bg-default">
            <div class="section-cover-brand"><a class="reveal-inline-block" href="./"><img src="images/logo-default-2-144x122-1.png" alt=""></a></div>
            <div class="section-50">
                <div class="shell">
                    <div>
                        <h1 class="font-default"><span class="big text-light text-bold">404</span></h1>
                    </div>
                    <div class="offset-top-10">
                        <h4 class="text-bold">Sorry, the page was not found</h4>
                    </div>
                    <div class="offset-top-15 offset-lg-top-30">
                        <hr class="divider bg-madison">
                    </div>
                    <div class="offset-top-30 offset-lg-top-60">
                        <p>You may have mistyped the address or the page may have moved.</p>
                    </div>
                    <div class="offset-top-15 offset-lg-top-30">
                        <div class="group group-xl"><a class="btn btn-primary btn-icon btn-icon btn-icon-left" href="./"><span class="icon fa-arrow-left"></span><span>Back to Home Page</span></a></div>
                    </div>
                </div>
            </div>
           
        </section>
        
    {% endblock %} {% block link_js %}{% endblock %}
