{% extends 'base.html' %}
{% load static %}
{% block title  %}Markaziy Osiyo tibbiyot universiteti{% endblock %}

{% block link  %}{% endblock %}

{% block content  %}
<section class="section breadcrumb-modern context-dark parallax-container" data-parallax-img="{% static 'images/bg2.jpeg' %}">
    <div class="parallax-content section-30 section-sm-70">
        <div class="shell">
            <h2 class="veil reveal-sm-block">Contact US</h2>
            <div class="offset-sm-top-35">
                <ul class="list-inline list-inline-lg list-inline-dashed p">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section novi-background bg-cover section-70 section-md-114 bg-default">
    <div class="shell">
        <div class="range range-65 range-xs-center">
            <div class="cell-md-8 text-md-left">
                <h2 class="text-bold">Bog'lanish</h2>
                <hr class="divider bg-madison hr-md-left-0">
                <div class="offset-top-30 offset-md-top-30">
                    <p>Siz uchun qulay bo'lgan har qanday usulda biz bilan bog'lanishingiz mumkin. Biz faks yoki elektron pochta orqali 24/7 ishlaymiz. Shuningdek, quyida joylashgan tezkor aloqa shaklidan foydalanishingiz yoki bizga shaxsan tashrif buyurishingiz mumkin. Savollaringizga javob berishdan xursand bo'lamiz.</p>
                </div>
                <div class="offset-top-30">
                    <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="{% url 'contact' %}">
                        {% csrf_token %}
                        <div class="range range-12">
                            <div class="cell-sm-6">
                                <div class="form-group">
                                    <label class="form-label form-label-outside" for="contact-me-name">Ism</label>
                                    {{ form.firstname }}
                                </div>
                            </div>
                            <div class="cell-sm-6">
                                <div class="form-group">
                                    <label class="form-label form-label-outside" for="contact-me-last-name">Familiya</label>
                                    {{ form.surname }}
                                </div>
                            </div>
                            <div class="cell-sm-6">
                                <div class="form-group">
                                    <label class="form-label form-label-outside" for="contact-me-email">Elektorn manzil</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="cell-sm-6">
                                <div class="form-group">
                                    <label class="form-label form-label-outside" for="contact-me-phone">Telefon raqami</label>
                                    {{ form.phone }}
                                </div>
                            </div>
                            <div class="cell-xs-12">
                                <div class="form-group">
                                    <label class="form-label form-label-outside" for="contact-me-message">Habar</label>
                                    {{ form.message }}
                                </div>
                            </div>
                            <div class="cell-xs-12">
                                <div class="form-group">
                                    {{ form.captcha }}
                                </div>
                            </div>
                        </div>
                        <div class="text-center text-md-left offset-top-20">
                            <button class="btn btn-primary" type="submit">Habarni jo'natish</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="cell-xs-10 cell-md-4 text-left">
                <aside class="aside inset-md-left-30">
                    <div class="aside-item-2">
                        <h6 class="text-bold">Telefon</h6>
                        <div>
                            <div class="hr bg-gray-light offset-top-10"></div>
                        </div>
                        <div class="offset-top-15">
                            <ul class="list list-unstyled">
                                {% for i in status.phone_number.all %}
                                <li><span class="icon novi-icon icon-xs text-madison mdi mdi-phone text-middle"></span>
                                        <a class="text-middle inset-left-10 text-dark" href="tel:{{ i.phone }}">{{ i.phone }}</a>
                                    </li>
                                    {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="aside-item-2">
                        <h6 class="text-bold">Elektron pochta</h6>
                        <div>
                            <div class="hr bg-gray-light offset-top-10"></div>
                        </div>
                        <div class="offset-top-15">
                            <ul class="list list-unstyled">
                                <li>
                                    <span class="icon novi-icon icon-xs text-madison mdi mdi-email-outline text-middle"></span>
                                    {% for i in status.university_email.all %}
                                        <a class="text-primary text-middle inset-left-10" href="mailto:{{ i.email }}">{{ i.email }}</a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="aside-item-2">
                        <h6 class="text-bold">Manzil</h6>
                        <div>
                            <div class="hr bg-gray-light offset-top-10"></div>
                        </div>
                        <div class="offset-top-15">
                            <div class="unit unit-horizontal unit-spacing-xs">
                                <div class="unit-left"><span class="icon novi-icon icon-xs mdi mdi-map-marker text-madison"></span></div>
                                <div class="unit-body">
                                    <p><a class="text-dark" href="#">O'zbekiston. Farg'ona  viloyat, Farg'ona Shaxri</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aside-item-2">
                        <h6 class="text-bold">Qabul vaqti</h6>
                        <div>
                            <div class="hr bg-gray-light offset-top-10"></div>
                        </div>
                        <div class="offset-top-15">
                            <div class="unit unit-horizontal unit-spacing-xs">
                                <div class="unit-left"><span class="icon novi-icon icon-xs mdi mdi-calendar-clock text-madison"></span></div>
                                <div class="unit-body">
                                    <div>
                                        <p>Dushanba-Juma: 8:00 dan - 20:00 gacha</p>
                                    </div>
                                    <div>
                                        <p>Shanba: 8:00 dan - 15:00 gacha</p>
                                    </div>
                                    <div>
                                        <p>Yakshanba: Dam olish kuni</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aside-item-2">
                        <h6 class="text-bold">Ijtimoiy tarmoqlarda</h6>
                        <div class="hr bg-gray-light offset-top-10"></div>
                        <ul class="list-inline list-inline-xs list-inline-madison">
                            <li><a class="icon novi-icon icon-xxs fa-facebook icon-circle icon-gray-light-filled" href="#"></a></li>
                            <li><a class="icon novi-icon icon-xxs fa-twitter icon-circle icon-gray-light-filled" href="#"></a></li>
                            <li><a class="icon novi-icon icon-xxs fa-google icon-circle icon-gray-light-filled" href="#"></a></li>
                            <li><a class="icon novi-icon icon-xxs fa-instagram icon-circle icon-gray-light-filled" href="#"></a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="section" id='location' >
    <iframe style="width:100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.7295687968654!2d71.78509241531987!3d40.39268586502551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bb839397820301%3A0x7336a9c2b6deed71!2sCentral%20Asian%20Medical%20University!5e0!3m2!1sen!2s!4v1671621499520!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
</section>


{% endblock %}
{% block link_js  %}{% endblock %}
